$font: 'League Spartan', sans-serif;
$head-font: 'Rounded Sans Serif 7', url(../rounded-sans-serif-7/rounded_sans_serif_7.ttf);
$colors: (main:#f24e1e, headc:rgba(173, 157, 138, 0.4), textt:#11302B,secondary:#00FF6580, third:#fff);
$size: 30px;
$gradient: linear-gradient(to right, #fff, #AD9D8A66);
$block: 1px solid black;