@import 'mixins';
@import 'variables';

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    width: 100%;
}
main{
    display: grid;
    // padding: 0 3%;

    @include headers;

    @include about;

    @include awards;

    @include porfolio;

    @include poet;

    @include experience;

    @include contact;

    @include say;
}

@include foot;






























// @import 'variables';
// @import 'mixins';

// *
// {
//     font-family: $font;
//     margin: 0;
//     box-sizing: border-box;
//     color: map-get($colors, textt);
//     text-decoration: none;
//     text-transform: uppercase;
// }
// body
// {
//     background: map-get($colors, main);
//     // width: 100%;
//     // height: 100%;
//     @include display();
//     justify-content: center;
// }
// .portfolio-body
// {
//     width: 100%;
//     // border: 1px solid black;
//     // margin-top: 10px;
// }
// .portfolio-header
// {
//     position: relative;
//     background-image: $gradient;
//     // width: 100%;
//     padding: $size $size 0 $size;
//     flex{
//         direction: row;
//     }
//     align-items: center;
//     justify-content: space-between;
    
//     .header-nav{
//        @include display();
//         justify-content: space-between;

//         h1{
//             font-family: $head-font;
//             font-style: normal;
//             color: map-get($colors, main);
//         }

//         ul{
//             display: flex;
//             gap: 20px;
//             margin-right: 20px;
//             padding: 20px;
//             .nav-list{
//                 display: flex;
//                 align-self: center;
//                 margin-right: 10px;
//                 a{
                   
//                     font-weight: 600;
//                     font-size: 16px;
//                     line-height: 22px;
//                 }
//             }
//         }
//     }

//     .header-body{
//         border: $block;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-between;

//         .header-left{

//             .left-text{
//                 margin-bottom: 100px;
//                 h2{
//                     width: 309px;
//                     height: 59px;
//                     display: flex;
//                     flex-wrap: wrap;
//                     flex-direction: column;
//                     font-weight: 700;
//                     font-size: 64px;
//                     line-height: 59px;
//                     gap: 20px;
    
//                     span{
//                         color: map-get($colors, main);
//                     }
//                 }
    
//                 h3{
//                     width: 570px;
//                     height: 44px;
//                     display: flex;
//                     flex-wrap: wrap;
//                     flex-direction: row;
//                     font-size: 40px;
//                     font-weight: 700;
//                     line-height: 44px;   
//                 }
//             }

//             a{
//                 width: 191px;
//                 height: 49px;
//                 display: flex;
//                 flex-direction: row;
//                 align-items: flex-start;
//                 padding: 15px;
//                 gap: 20px;
//                 @include backcolor;
//                 font-family: $font;
//                 font-size: 23px;
//                 font-weight: 700;
//                 line-height: 29px;
//                 color: map-get($colors,third);
//             }
//         }

//         .image-section{
//             position: relative;
//             width: 100%;
//             height: 100%;
//             margin: 20px;

//             .box{
//                 width: 100px;
//                 height: 100%;
//             }
//             .circle{
//                 position: absolute;
//                 // background-color: map-get($colors, main);
//                 // border: 1px solid red;
//                 width: 515px;
//                 height: 516px;
//                 top: 209px;
//                 left: 200px;
                
//                 // border-radius: 50%;
//             }
//             .imgage{
//                 z-index: 9px;
//             }
//         }
//     }
// }